*.safetensors
*.ckpt
*.pt
*.bin
*.onnx
/models/checkpoints/*
/models/vae/*
/models/loras/*
/models/clip/*
/models/controlnet/*
/output/*
/input/*
/temp/*

venv/
python_embeded/
*.env
.vscode/
.idea/

extra_model_paths.yaml
user/default/comfy.settings.json